{% extends "template.html" %}
{% block content %}
<h2 class="text-white">Agregar Usuarios</h2>
<div class="booking-form-body">
    <a href="/" class="btn btn-info">Volver</a>
    <form id="form" class="custom-form booking-form" action="/order/save" method="POST" role="form">
        <div class="booking-form-body">
            <div class="row">
                <div class="col-lg-6 col-12 mb-3">
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="fecha">Fecha:</label>
                    <input type="text" id="fecha" name="fecha" class="form-control" placeholder="Apellidos" required>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="subtotal">subtotal:</label>
                    <input type="text" id="subtotal" name="subtotal" class="form-control" placeholder="Identificación" required>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="iva">Dirección:</label>
                    <input type="text" id="iva" name="iva" class="form-control" placeholder="Dirección" required>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="total">total:</label>
                    <input type="text" id="total" name="total" class="form-control" placeholder="Teléfono" required>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="nroOrder">nroOrder:</label>
                    <input type="text" id="nroOrder" name="nroOrder" class="form-control" placeholder="Correo" required>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <label for="idTecnico">idTecnico:</label>
                    <input type="text" id="idTecnico" name="idTecnico" class="form-control" placeholder="Correo" required>
                </div>

                    <button id="boton" type="submit" class="form-control btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}