{% extends 'template.html' %} 
{% block content %}
<main class="text-white p-5 my-3">
    <h1 class="h1 text-center mb-4">Lista de Vehículos</h1>

    <div class="container">
        <div class="d-flex justify-content-between mb-4">
            <a href="/vehicle/register/{{ person_id }}" class="btn btn-danger">Agregar Vehículos</a>
        </div>

        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Descripción</th>
                    <th>Ver Servicios</th>
                </tr>
            </thead>
            <tbody>
                {% for valor in lista %}
                
                <tr>
                    <td>{{ valor.marca}}</td>
                    <td>{{ valor.modelo }}</td>
                    <td>{{ valor.placa }}</td>
                    <td>{{ valor.color }}</td>
                    <td>{{ valor.descripcion }}</td> 
                    <td>
                        <a href="/order/list/{{ valor.id }}" class="btn btn-info">Ver Servicios</a>
                    </td>
                    <td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}