<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Taller Mecanico</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/vegas.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/tooplate-barista.css')}}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
<!--

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
    </head>
    
    <body class="reservation-page">
                
            <main>
                <nav class="navbar navbar-expand-lg">                

                </nav>
                

                <section class="booking-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="booking-form-wrap">
                                <div class="row">
                                    
                                  {% block content %}{% endblock %}

                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
 


                           


                    </div>
                </footer>
            </main>


        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vegas.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/custom.js')}}"></script>

    </body>
</html>